{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Simple Calculator</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    
</head>
<h1>Simple Calculator</h1>
<form method="post">
    {% csrf_token %}
    <label for="num1">Enter first number:</label>
    <input type="number" name="num1" required>
    <br>
    <label for="num2">Enter second number:</label>
    <input type="number" name="num2" required>
    <br>
    <label for="operation">Select operation:</label>
    <select name="operation">
        <option value="add">+</option>
        <option value="subtract">-</option>
        <option value="multiply">*</option>
        <option value="divide">/</option>
    </select>
    <br>
    <button type="submit">Calculate</button>
</form>
{% if result %}
    <hr>
    <h2>Result:</h2>
    <p>{{ result }}</p>
{% endif %}
